<!-- The HeroesComponent will only present the list of heroes. The HeroDetailComponent will present details of a selected hero -->
<div *ngIf="hero">

  <h2>{{ hero.name | uppercase }} Details</h2>
  <div><span>id: </span>{{hero.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="hero.name" placeholder="name"/>
    </label>
  </div>
  <!-- Add a go back button to the bottom of the component template and bind it to the component's goBack() method -->
  <button (click)="goBack()">go back</button>
  <button (click)="save()">save</button>

</div>